$small-mobile: 290px;
$mobile: 320px;
$tablet:481px;
$large-tablet: 576px;
$small-laptop: 768px;
$desktops: 992px;
$extra-desktops: 1100px;
$extra-large: 1200px;
$very-large: 1408px;
$tv-screen: 1720px;
